<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
	  <authentication mode="None" />
	  <authorization>
		  <allow users="*"/>
	  </authorization>
	  
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<service name="WordOccurences.Service1">
				<endpoint address=""
						  binding="webHttpBinding"
						  contract="WordOccurences.IService1"
						  behaviorConfiguration="webBehavior" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:50356/Service1.svc" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<endpointBehaviors>
				<behavior name="webBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>

			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<add name=".svc" verb="*" path="*.svc"
				 type ="System.ServiceModel.Activation.ServiceHttpHandlerFactory,
                      System.ServiceModel.Activation,
                      Version=4.0.0.0, Culture=neutral,
                      PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
		<directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>
